*{
    font-family: Rajdhani;
    color: white;
    
}
.title{
    font-family: Orbitron;
}

html{
    margin: 0px 8% 0px 8% ;
    box-sizing: border-box;
    background-color: #181818;
}

.App{
    display: grid;
    grid-template-rows: max-content repeat( 4, max-content);
}

.Header{
    /* background-color: brown; */
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .Home{
    background-color: chocolate;
}

.section-about{
    background-color: rgb(33, 85, 68);
}

.section-skill{
    background-color: rgb(175, 166, 41);
}

.section-project{
    background-color: rgb(138, 15, 111);
}

.section-footer{
    background-color: rgb(66, 66, 66);
} */

.titra{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content;
    grid-gap: 1.5vw;
    
}
.titra svg{
    align-self: center;
    justify-self: center;
}
.logo-project{
    transform: translateY(5px);
}
